#pong-screen-container {
	transition: all 0.15s;
	background-color: #070707;
	transition: all 0.15s;
}

#pong-screen-container #main-container {
	display: flex;
	flex-direction: column;
	transition: all 0.15s;
	pointer-events: all;
	height: 1050px !important;
	width: 1350px !important;
	background-color: #090909;
}

#pong-screen-container header {
	border-bottom: 1px solid #b5cfc500;
	border-left: 1px solid #b5cfc642;
	border-right: 1px solid #b5cfc642;
	border-top: 1px solid #b5cfc642;
	transition: all 0.15s;
	pointer-events: all;
}

#pong-screen-container header:has(.nav-item.active) {
	border-bottom: 1px solid #b5cfc5;
	transition: all 0.15s;
}

#pong-screen-container .btn,
#pong-screen-container .form-select,
#pong-screen-container .nav-link,
#pong-screen-container .form-control {
	border-radius: 0px;
}

#pong-screen-container #content-window-container .nav-link {
	color: #ffffff;
	opacity: 0.5;
}

#pong-screen-container #content-window-container .nav-link.active {
	background-color: transparent;
	border-bottom: 1px solid #111111;
	opacity: 1;
}

#pong-screen-container .btn:hover {
	background-color: #1a1d15;
}

#pong-screen-container #pong-menu-container {
	transition: all 0.15s;
}

#pong-screen-container header:has(.nav-item.active) + #pong-menu-container {
	background-color: #111111;
	transition: all 0.15s;
}
#pong-screen-container header .wrapper .nav-item {
	border: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 0px;
	padding-bottom: 0.5rem;
	opacity: 0.5;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-item:has(.nav-link:hover) {
	border: 1px solid #b5cfc5;
	border-bottom: 1px solid #b5cfc500;
	opacity: 1;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-item.active {
	border: 1px solid #b5cfc5;
	opacity: 1;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-item::after {
	content: '';
	position: relative;
	border-top: 8px solid #ffffff00;
	display: block;
	top: 15px;
	width: 100%;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-item.active::after {
	content: '';
	position: relative;
	border-top: 8px solid #090909 !important;
	display: block;
	top: 15px;
	width: 100%;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-link {
	padding: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 0rem;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper .nav-link.active {
	background-color: transparent;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper button {
	color: #b5cfc5;
	align-items: center;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper button .icon {
	color: #55827f;
	font-size: 2rem;
	position: relative;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper button .icon-border::before,
#pong-screen-container header .wrapper button .icon-border::after,
#pong-screen-container header .wrapper button .icon-border .corner-top-right,
#pong-screen-container header .wrapper button .icon-border .corner-bottom-left {
	content: '';
	position: absolute;
	width: 7px; /* Longueur des coins horizontaux */
	height: 7px; /* Longueur des coins verticaux */
	border: 2px solid #78b1ac;
	transition: all 0.15s;
}

/* Coin en haut à gauche */
#pong-screen-container header .wrapper button .icon-border::before {
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
	transition: all 0.15s;
}

/* Coin en bas à droite */
#pong-screen-container header .wrapper button .icon-border::after {
	bottom: 0;
	right: 0;
	border-left: none;
	border-top: none;
	transition: all 0.15s;
}

/* Coin en haut à droite */
#pong-screen-container header .wrapper button .icon-border .corner-top-right {
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
	transition: all 0.15s;
}

/* Coin en bas à gauche */
#pong-screen-container header .wrapper button .icon-border .corner-bottom-left {
	bottom: 0;
	left: 0;
	border-right: none;
	border-top: none;
	transition: all 0.15s;
}

#pong-screen-container header .wrapper button .content {
	font-size: 1.2rem;
	margin: 0rem 0rem 0rem 1rem;
	width: 12rem;
	height: 4rem;
	display: flex;
	align-items: center;
	background-image: url(/src/assets/tab_background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 2rem;
	transition: all 0.15s;
}

#pong-screen-container footer {
	background-color: #1c2321;
	color: #b5cfc5;
	transition: all 0.15s;
	border: 1px solid #202e2f;
	transition: all 0.15s;
}

#pong-screen-container .separator {
	position: relative; /* Nécessaire pour que le pseudo-élément soit positionné par rapport à l'élément parent */
}

#pong-screen-container .separator::after {
	content: '';
	display: block;
	position: fixed;
	width: 1px;
	height: 4rem;
	margin-top: -2rem;
	background-color: currentColor;
}

#pong-screen-container #content-window-container aside li {
	border: 1px solid #b5cfc5;
	opacity: 0.5;
	transition: all 0.15s;
}

#pong-screen-container #content-window-container aside li.active,
#pong-screen-container #content-window-container aside li:hover {
	opacity: 1;
}

#pong-screen-container #content-window-container aside li::after {
	content: '';
	display: block;
	width: 16px;
	height: 28px;
	position: absolute;
	left: 311px;
	background-color: #111111;
	transform: rotate(53deg);
	pointer-events: none;
	border-left: 1px solid;
}

#pong-screen-container #pong-header-container #shipctrl-path {
	min-width: 480px;
}

.text-muted {
	color: rgb(91 100 109) !important;
}

#pong-screen-container .btn-pong:hover {
	color: #fff;
	background-color: #1c3c38;
	opacity: 1;
}

#pong-screen-container .btn-pong {
	color: #fff;
	background-color: #1c3c38;
	opacity: 0.8;
	transition: all 0.15s;
}

#pong-screen-container .btn-pong-danger:hover {
	color: #fff;
	background-color: #991b1b;
	opacity: 1;
}

#pong-screen-container .btn-pong-danger {
	color: #fff;
	background-color: #991b1b;
	opacity: 0.8;
	transition: all 0.15s;
}

#pong-screen-container .btn-pong-blue:hover {
	color: #fff;
	background-color: #40416c;
	opacity: 1;
}

#pong-screen-container .btn-pong-blue {
	color: #fff;
	background-color: #40416c;
	opacity: 0.8;
	transition: all 0.15s;
}

.menu3 {
	width: 100%;
	height: 100%;
}

.bluescreen {
	height: 100%;
	width: 100%;
	filter: brightness(0.6) contrast(1.1);
	display: none;
}

.spinner-slow-big {
	width: 5rem;
	height: 5rem;
	border-width: 0.5rem;
	animation-duration: 2s;
}

#content-window-container #bracket-container {
	width: 100%;
}
#content-window-container .round-titles {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	width: 100%;
	margin-bottom: 20px;
}
#content-window-container .round-title {
	min-width: 150px;
	text-align: center;
	font-weight: bold;
	color: white;
}
#content-window-container .size-content {
	display: flex;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	justify-content: center;
}
#content-window-container .round-column {
	display: flex;
	flex-direction: column;
}
#content-window-container .matches-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#content-window-container .match {
	margin-bottom: 8px;
}
#content-window-container .bracket-line {
	position: relative;
	width: 50px;
	height: 120px;
	margin: auto 0;
}
#content-window-container .bracket-line::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 2px;
	background: white;
}
#content-window-container .bracket-line::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 2px;
	background: white;
	transform: translateY(-50%);
}
